html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: 300;
    text-align: center;
    cursor: default;
    background-color: lightgray;
    overflow: hidden;
}

div {
    cursor: inherit;
}

#dots {
    position: relative;
    top: 50px;
    height: 100%;
    width: 512px;
    margin: 0 auto;
}

#color-picker {
    position: relative;
    text-align: left;
    margin: 0 auto;
}

p {
    font-weight: bold;
}

input {
    margin: 4px;
}

button {
    margin-left: 16px;
}